.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.select {
  width: 208px;
}

.topMetaData {
  display: flex;
  margin-bottom: 32px;
}

.aside {
  min-width: calc(296 / 1240 * 100%);
  margin-right: 32px;
}

.timetable {
  padding-top: 30px;
  width: calc(922  / 1240 * 100%);
  background-color: var(--grayF4);
}

.dayDataContent {
  display: flex;
  flex-direction: column;
  height: 240px;
  padding: 25px;
  margin-bottom: 32px;
  background-color: var(--grayF4);
}

.pomodoroData {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  height: 179px;
  background-color: var(--grayF4);
}

.pomodoroDataE{
  display: flex;
  justify-content: center;
  padding-top: 30px;
  height: 179px;
  position: relative;
  background-color: var(--grayF4);
}

.pomodoroWrap {
  display: flex;
  align-items: center;
}

.pomodoroNum {
  margin-left: 15px;
  width: 4ch;
  color: var(--gray99);
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}

.pomodoroNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 9px 10px;
  background-color: var(--red);
  color: var(--white);
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
}

.tomatoIcon {
  height: 81px;
  width: 81px;
}



.botMetaData {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.botMetaData > div {
  display: flex;
  justify-content: space-between;
  width: 31.9%;
  padding: 25px;
}

.focus {
  background-color: var(--grayF4);
}

.pauseTime {
  background-color: var(--grayF4);
}

.stopCounter {
  background-color: var(--grayF4);
}

.focusColor {
  background-color: var(--peachLight);
}

.pauseTimeColor {
  background-color: var(--purpleLight);
}

.stopCounterColor {
  background-color: var(--aquaLight);
}

.focusColor .blockRight svg > path {
  stroke: var(--peach);
}

.pauseTimeColor .blockRight svg > path {
  stroke: var(--purple);
}

.stopCounterColor .blockRight svg > path {
  stroke: var(--aqua);
}

.blockTitle {
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}

.workData {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.workTime {
  color: var(--red);
}

.blockData {  
  font-weight: 400;
  font-size: 64px;
  line-height: 76px;
}

.blockRight {
  max-height: 129px;
}