.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.topMetaData {
  display: flex;
  margin-bottom: 32px;
}

.aside {
  display: flex;
  flex-direction: column;
  width: calc(296 / 1240 * 100%);
  margin-right: 32px;
}

.timetable {
  padding-top: 30px;
  height: 380px;
  width: calc(952 / 1240 * 100%);
  background-color: var(--grayF4);
}

.dayDataContent {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  padding: 25px;
  margin-bottom: 32px;
  background-color: var(--grayF4);
}

.pomodoroData {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  background-color: var(--grayF4);
}

.pomodoroDataE{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 179px;
  position: relative;
  background-color: var(--grayF4);
}

.pomodoroNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 9px 78px;
  background-color: var(--red);
  color: var(--white);
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
}

.tomatoIcon {
  height: 81px;
  width: 81px;
}



.botMetaData {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.botMetaData > div {
  width: 31.9%;
  padding: 25px;
  background-color: var(--grayF4);
}

.focus {
  display: flex;
  justify-content: space-between;
}

.pauseTime {
  display: flex;
  justify-content: space-between;
}

.stopCounter {
  display: flex;
  justify-content: space-between;
}

.blockTitle {  
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}

.blockData {  
  font-weight: 400;
  font-size: 64px;
  line-height: 76px;
}

.blockRight {
  max-height: 129px;
}