.taskItem__btn {
  padding: 5px 1px;
  position: relative;
  border: none;
  height: 26px;
  background-color: transparent;
  cursor: pointer;
  border-radius: 100%;
}

.dropdown {
  position: absolute;
  padding: 6px 0;
  border: 1px solid var(--grayC4);
  transform: translate(-70px, 8px);
  background-color: var(--white);
  z-index: 2;
}

.menuIcon {
  margin-right: 7px;
}

.menuItem:hover {  
  background-color: var(--grayF4);
}

.crossStyle {
  width: 26px;
  height: 26px;
  margin: -5px -1px;
  animation: roll .5s ease forwards ;
}


@keyframes roll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }

  100% {
    transform: rotate(45deg);    
  }
}
