.input {
  padding: 19px 15px;
  margin-bottom: 25px;
  background-color: var(--grayF4);
  border: none;
  width: 70%;
}

.input::placeholder {
  font-family: 'SF UI Display Medium';
  font-size: 16px;
  font-weight: 300;
  line-height: 17px;
  color: var(--gray99);
}

.form {
  margin-bottom: 25px;
}

.taskList {
  width: 70%;
}
