.green {
  padding: 19px 50px;
  font-size: 16px;
  font-weight: 600;
  line-height: 17px;
  color: var(--white);
  background-color: var(--green);
  border: 2px solid var(--green);
  cursor: pointer;
  transition: background-color .3s ease, border-color .3s ease;
}

.green:focus {
  background-color: var(--greenDark);
}

.green:hover {
  background-color: var(--greenDark);
  border-color: var(--greenDark);
}

.green:active{
  border-color: var(--green);
}

.red {
  padding: 19px 50px;
  font-size: 16px;
  font-weight: 600;
  line-height: 17px;
  color: var(--white);
  background-color: var(--red);
  border: 2px solid var(--red);
  cursor: pointer;
  transition: background-color .3s ease, border-color .3s ease;
}

.red:hover {
  background-color: var(--redDark);
  border-color: var(--redDark);
}

.red:active{
  border-color: var(--red);
}

.red:disabled {
  cursor: unset;
}

.stop {
  padding: 19px 50px;
  font-size: 16px;
  font-weight: 600;
  line-height: 17px;
  color: var(--red);
  background-color: transparent;
  border: 2px solid var(--red);
  cursor: pointer;
  transition: background-color .3s ease, color .3s ease;
}

.stop:not(:disabled):hover {
  background-color: var(--red);
  color: var(--white);
}

.stop:not(:disabled):active{
  border-color: var(--redDark);
  color: var(--white);
}

.stop:disabled {
  cursor: unset;
  color: var(--grayC4);
  border-color: var(--grayC4);
}



.menu {
  display: flex;
  align-items: center;
  padding: 10px 15px 9px 15px;
  width: 100%;
  background-color: transparent;
  color: var(--gray99);
  border: none;
  font-size: 16px;
  font-weight: 300;
  line-height: 17px;
  cursor: pointer;
}


.menu:disabled svg path {
  fill: var(--grayC4);
}

.menu:disabled {  
  cursor: default;
}